body {
    overflow-x: hidden;
    display: flex;
} 

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 100%;
}

// =============== 
// HEADER & RUPAUL PIC
// ===============

.rupaul-pic {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 0;
    z-index: -1;
    @include break-point(medium){
        left: 75px;
    }
    @include break-point(mediumish){
        left: 50px
    }
    @include break-point(small){
        top: 300px;
    }
    img {
        width: 90%;
    }
}

// ===============
// INPUT
// ===============

.input {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 75px;
    left: 50px;
    @include break-point(large){
        left: 100px;
    }
    @include break-point(medium){
        top: 50px;
        left: 125px;
    }
    @include break-point(mediumish){
        top: 25px;
        left: 140px;
    }
    @include break-point(small){
        width: 60%;
        margin: 0 auto;
        position: static;
        margin-top: 50px;

    }
}

// ===============
// TITLE
// ===============

.title {
    img {
        width: 85%;
        margin: 0 auto;
        display: block;
    }
    h1 {
       margin: 0 auto;
       text-align: center;
       width: 100%;
       @include break-point(medium){
           width: 100%;
       }
    }
}

// ===============
// TIMER CLOCK
// ===============

.timer {
    height: 40px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: -15px;
    @include break-point(medium){
        margin-top: -20px;
    }
    @include break-point(mediumish){
        margin-top: -10px;
    }
}

// ===============
// RANDOM SAYINGS
// ===============

.sayings-container {
    height: 40px;
    margin: 0px auto;
    margin-top: -15px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    @include break-point(medium){
        margin-top: -20px;
        width: 100%;
    }
    @include break-point(mediumish){
        width: 100%;
        margin-top: -10px;
    }
    @include break-point(small){
        margin-top: -20px;
        text-align: center;
    }
    .highlightWhite {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 3px;
    }
}

// ===============
// LIST OF QUEENS
// =============== 

ul {
    list-style: none;
    padding-left: 0;
    li {
        margin-right: 10px;
        padding: 3px;
        @include break-point(smallish){
            width: 100%;
        }
    }

}

.list {
    display: flex;
    height: 125px;
    width: 100%;
    margin-top: -15px;
    padding: 0 15px;
    @include break-point(medium){
        margin-top: 0px;
    }
    @include break-point(mediumish){
        margin-top: -10px;
    }
    @include break-point(small){
        margin-top: 0px;
        height: 200px;
        padding: 0;
    }
    .remembered-queens {
        height: 125px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin: 10px auto;
        @include break-point(small){
            height: 175px;
            text-align: center;
            margin: 0 auto;
        }
        .hightlightWhite {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 0 3px;
        }
        .hightlightRed {
            background-color: $highlight-color;
            color: white;
            padding: 0 3px;
        }
    }
}

// =============== 
// FORM TO PUT QUEEN NAME
// ===============

form {
    margin: 0 auto;
    height: 20px;
}

label {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: $highlight-color;
    color: white;
    width: 50%;
    padding: 0 3px;
    p {
        font-size: 1.2rem;
    }
}


input {
    width: 70%;
    height: 35px;
    margin: 0 auto;
    margin-top: -5px;
    padding: 5px;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    @include break-point(small){
        height: 25px;
    }
}
