body {
  overflow-x: hidden;
  overflow-y: hidden;
} 

.wrapper {
    margin: 0 auto;
    // margin-left: 200px;
    max-width: 800px;
}

// =============== 
// HEADER 
// ===============

header {
    background-image: url(../assets/rupaul-lying-down-good-small.jpg);
    height: 100vh;
    //top right bottom left
    margin: 0px 0 0 300px;
    // margin: 15px 0 0 400px;
    background-size: cover;
    padding: 1px;
    width: 80%;
    // overflow-y: scroll;
    // overflow-x: hidden;
    position: relative;
}

// ===============
// MAIN
// ===============

main {
    position: absolute;
    top: 70px;
    left: 75px;
    // margin-left: 150px;
    // left: 10px;
}

// ===============
// TITLE
// ===============

.title img {
    width: 45%;
    margin: 0 auto;
    display: block;
}

 .title h1 {
    margin: 0 auto;
    text-align: center;
    width: 50%;

    // font-size: 30px;
    // font-display: broadway;
}

// ===============
// TIMER CLOCK
// ===============

.timer {
    height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: -15px;
    // font-size: 
}

h2 .hightlight {
    background-color: $highlight-color;
    color: white;
}
// ===============
// RANDOM SAYINGS
// ===============

.sayingsContainer {
    height: 50px;
    margin: -25px auto;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

// .sayings .hightlight {
//     background-color: $highlight-color;
//     color: white;
// }

// ===============
// LIST OF QUEENS
// =============== 

ul {
    list-style: none;
    li {
        margin-right: 10px;
        padding: 3px;
    }
}

.list {
    display: flex;
    // align-content: center;
    // justify-content: center;
    height: 130px;
    width: 40%;
    // position: relative;
    margin: 0 auto;
    .remembered-queens {
        height: 125px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin: 10px auto;
        // background-color: rgba(255, 255, 255, 0.7);
        // padding-right: 5px;
        // position: absolute;
        // top: 0;
        // left: 0;
        // margin: 0 auto;
        .hightlight {
            background-color: $highlight-color;
            color: white;
            padding: 0 3px;
        }
    }
}

// .remembered-queens li {
//     background-color: rgba(255, 255, 255, 0.7);
//     padding: 0 3px;
// }

// .missed-queens {
//     height: 120px;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     align-content: center;
//     // padding-right: 5px;
//     position: absolute;
//     top: 0;
//     right: 0;
// }

// =============== 
// FORM TO PUT QUEEN NAME
// ===============

form {
    margin: 0 auto;
    margin-top: 0px;
    height: 20px;
}

label {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: $highlight-color;
    color: white;
    width: 25%;
    // height: 30px;
}
input {
    width: 50%;
    height: 40px;
    margin: 0 auto;
    margin-top: -5px;
    padding: 5px;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
}

// ===============
// FOOTER
// ===============

// footer img {
//     width: 100%;
// }