body {
  overflow-x: hidden;
  overflow-y: hidden;
} 

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

// =============== 
// HEADER 
// ===============

header {
    background-image: url(../assets/rupaul-lying-down-good-small.jpg);
    height: 100vh;
    margin-top: 0px;
    // margin-left: 125px;
    margin-left: 10%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1px;
    width: 100%;
    position: relative;
    // bottom: 0;
}


// ===============
// MAIN
// ===============

main {
    position: absolute;
    // top: -100px;
    // top: 55px;
    top: 13%;
    left: -5%;
    // height: 100vh;
    // height: 100%;
    // left: -50px;
    // right: 100px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    // margin-left: 200px;
    // max-width: 800px;
    // width: 100%;
    // position: absolute;
    // top: 0;
    // z-index: 1;
}

// =============== 
// RUPAUL'S PICTURE
// ===============

// .rupaul-pic {
//     position: fixed;
//     left: 300px;
//     bottom: -75px;
//     z-index: -1;
// }

// .rupaul-pic img {
//     width: 100%;
//     // margin-top: 100px;
//     // margin: 0px 0 0 225px;
//     // position: absolute;
// }

// ===============
// INPUT
// ===============

.input {
    // width: 100%;
    // position: relative;
    // top: 70px;
    // top: 20%;
    // left: -150px;
    // left: 100px;
    // position: absolute;

}

// ===============
// TITLE
// ===============

.title {
    img {
        width: 35%;
        margin: 0 auto;
        display: block;
    }
    h1 {
       margin: 0 auto;
       text-align: center;
       width: 40%;
    }
}

// ===============
// TIMER CLOCK
// ===============

.timer {
    height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: -15px;
}

// ===============
// RANDOM SAYINGS
// ===============

.sayingsContainer {
    height: 50px;
    margin: -25px auto;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

// ===============
// LIST OF QUEENS
// =============== 

ul {
    list-style: none;
    li {
        margin-right: 10px;
        padding: 3px;
    }
}

.list {
    display: flex;
    height: 130px;
    width: 40%;
    margin: 0 auto;
    .remembered-queens {
        height: 125px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin: 10px auto;
        .hightlight {
            background-color: $highlight-color;
            color: white;
            padding: 0 3px;
        }
    }
}

// =============== 
// FORM TO PUT QUEEN NAME
// ===============

form {
    margin: 0 auto;
    margin-top: 10px;
    height: 20px;
}

label {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: $highlight-color;
    color: white;
    width: 10%;
    p {
        font-size: 1.2rem;
    }
}


input {
    width: 30%;
    height: 40px;
    margin: 0 auto;
    margin-top: -5px;
    padding: 5px;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
}

// ===============
// FOOTER
// ===============
